@import "tailwindcss";
@import "../components/sections/section-entry.css";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  min-height: 100%;
  overflow-x: hidden;
}

body {
  background: #080808;
}
